{%extends 'course/courseDetails.html'%}
{%load static%}

{%block title%}
  <title>Course AssignmentS</title>
{%endblock%}

{%block course_content%}
{%if assignments%}
{%for file in assignments%}
<div class="grid grid-cols-4 gap-0">
<div class="col-span-3">
<div class="flex filter drop-shadow-md flex-col m-3 mr-0  rounded">
  <div class="bg-white text-lg rounded font-normal p-3">{{file.assignment_text}}</div>
  <div class="bg-white text-xs rounded font-bold p-3">
    Uploaded On:{{file.date}}
  </div>
  <div class="bg-white rounded p-3">
    <!-- Display file icon based on file type -->
    <a href="{{ file.file.url }}" download>
      {% if file.is_pdf %}
        <!-- PDF icon -->
        <img src="{%static 'pdf.png'%}" alt="PDF Thumbnail" class="w-20 h-20 object-cover">
        {% elif file.is_pptx %}
        <!-- PPTX icon -->
        <img src="{%static 'pptx.png'%}" alt="PPTX Thumbnail" class="w-20 h-20 object-cover">
      {% else %}
        <!-- Default file icon -->
        <img src="{%static 'document.png'%}" alt="File Thumbnail" class="w-20 h-20 object-cover">
      {% endif %}
    </a>
  
    <!-- Display file name as a clickable download link -->
    <div>
      <a href="{{ file.file.url }}" download class="text-blue-500 underline">
        Download: Assignment {{ file.assignment_number }}
      </a>
    </div>
  </div>
</div>
</div>
<div class="col-span-1 bg-white m-3 ml-1 filter drop-shadow-md rounded-lg p-3 ">
  <div class="text-center font-semibold">Assignment: {{file.assignment_number}}
  </div>
  <div>Total Marks:{{file.totat_marks}}</div>
  <div>Assignment Status:Not Uploaded</div>
  <div>Your Marks:0</div>
  <button class="w-auto ml-24 p-1 border rounded-md bg-teal-400 h-auto font-semibold " type="submit">Upload</button>
  <div class="text-red-600 text-left">Due Date:{{file.due_date}}</div>
</div>
{%endfor%}








{%else%}
<div class="bg-red-500 w-3/4 mx-auto rounded-md">
  <h1 class="text-center p-3 text-white text-lg font-semibold">No Assignment Found!!!</h1>
</div>
{%endif%}
{%endblock%}