{%extends "stdbase.html"%}

{%block title%}
  <title>Course Content</title>
{%endblock%}
{%block content%}
<div class="md:container md:mx-auto my-1.5 bg-green-50 rounded">
  <div class="grid grid-cols-4 grid-rows-1 grid-flow-row w-full h-12 rounded   px-1 gap-1">

    <div class=" flex items-center justify-center text-center text-xl border rounded-md bg-indigo-300 ">
      Class Materials
    </div>
    <div class=" flex items-center justify-center text-center text-xl bg-indigo-300 border rounded-md">
      Assignment
    </div>
    <div class=" flex items-center justify-center text-center text-xl bg-indigo-300 border rounded-md">
      Quiz
    </div>
    <div class=" flex items-center justify-center text-center text-xl bg-indigo-300 border rounded-md">
      Chat
    </div>


  </div>
</div>
{%endblock%}