{% extends 'course/courseDetails.html' %}
{% load static %}

{% block title %}
  <title>Take Quiz</title>
{% endblock %}

{% block course_content %}
<div class="container w-4/5 mx-auto p-4 ">
  <div class="mb-4 bg-white p-3 justify-between drop-shadow-md rounded-md text-lg flex  flex-row font-semibold">
    <div>Quiz: {{quiz.quiz_number}}</div>
    <div>Duration: {{quiz.duration}} minutes</div>
    <div class="text-red-500">End At: {{quiz.end_time}} </div>

  </div>
  <form method="POST" action="{%url 'courses:quiz_result' pk=quiz.pk%}"> 
    {% csrf_token %}
    {% for q in question %}
    <div class="mb-4 bg-white p-3 drop-shadow-lg rounded-md">
      <div class="flex flex-row justify-between">
        <div class=" font-semibold text-lg mb-2">{{ q.question_text }}
        </div>
        <div class="">
           {{q.question_mark}}
        </div>
      </div>
      
      <div class="flex flex-col">
        <label class="flex items-center mb-1">
          <input type="radio" name="question_{{ q.id }}" value="1" class="form-radio text-blue-600" required>
          <span class="ml-2 my-1">{{ q.option_1 }}</span>
        </label>
        <label class="flex items-center mb-1">
          <input type="radio" name="question_{{ q.id }}" value="2" class="form-radio text-blue-600">
          <span class="ml-2 my-1">{{ q.option_2 }}</span>
        </label>
        <label class="flex items-center mb-1">
          <input type="radio" name="question_{{ q.id }}" value="3" class="form-radio text-blue-600">
          <span class="ml-2 my-1">{{ q.option_3 }}</span>
        </label>
        <label class="flex items-center mb-1">
          <input type="radio" name="question_{{ q.id }}" value="4" class="form-radio text-blue-600">
          <span class="ml-2 my-1">{{ q.option_4 }}</span>
        </label>
      </div>
    </div>
    {% endfor %}
    <div class="mt-4 text-end">
      <button type="submit" class="bg-green-600 text-white font-medium  py-2 px-4 rounded hover:bg-blue-700">Submit Answers</button>
    </div>
  </form>
</div>
{% endblock %}
